<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="office"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.company.office.entity.Request</class>
        <class>com.company.office.entity.ExtUser</class>
        <class>com.company.office.entity.StepAction</class>
        <class>com.company.office.entity.RequestAction</class>
        <class>com.company.office.entity.RequestStatus</class>
        <class>com.company.office.entity.RequestFile</class>
        <class>com.company.office.entity.Step</class>
    </persistence-unit>
</persistence>
